.main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  .line {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .fields{
    display: flex; 
    flex-direction: row
  }
  
  input {
    margin-left: 1%;
    height: 25px;
    align-self: center;
  }
  
  button {
    border-radius: 20%;
    height: 100px;
    width: 100px;
    background-color: rgb(193, 197, 247);
    font-size: 25px;
    font-family: cursive;
    margin: 20px;
  }
  
  label{
      width: 250px;
      margin: 3%;
      font-size: 25px;
  }

  .error{
    color: red;
    font-size: 10px;
    margin-left: 10px;
  }