<form class="main form-group" #loginForm="ngForm">
  <div class="line">
    <div class="fields">
      <label for="name">User name:</label>
      <input class="form-control" [(ngModel)]="userName" type="text" id="name" name="userName" required
        #name="ngModel" />
    </div>
    <div [hidden]="name.pristine || name.valid" class="error">User name is required
    </div>
  </div>

  <div class="line">
    <div class="fields">
      <label for="pass">Password:</label>
      <input class="form-control" [(ngModel)]="password" type="password" id="pass" name="password" required #pass="ngModel" />
    </div>
    <div [hidden]="pass.pristine || pass.valid" class="error">Password is required
    </div>
  </div>
  
  <div class="fields">
    <button (click)="login()" [disabled]="!loginForm.form.valid">Login</button>
    <button (click)="signUp()">Sign up</button>
  </div>
</form>