<div class="form-group">
    <div class="line">
        <input type="file" accept="image/*" (change)="fileUploaded($event)" style="display: none;" #imageInput>
        <button class="uploadBtn" (click)="imageInput.click()">Choose image</button>
        <h4>{{imageInput.value}}</h4>
        <button class="uploadBtn" [disabled]="!uploadedImage" (click)="upload()">Upload</button>
    </div>
    <div class="line">
        <h2>Post date:</h2>
        <h2>{{dateString}}</h2>
    </div>

    <div class="line">
        <h2>Tagged users:</h2>
        <input placeholder="mushki,oded_bar,kitcat" [(ngModel)]="post.user_tags" type="text" name="taggedFriends" required #friendTag="ngModel">
    </div>

    <div class="line">
        <h2>Image tags:</h2>
        <input placeholder="cat,fur,tiger" [(ngModel)]="post.image_tags" type="text">
    </div>

    <div class="line">
        <h2>Text</h2>
        <input placeholder="Watch my post!" [(ngModel)]="post.text">
    </div>
</div>
<button class="back" (click)="goBackToFeed()">Go Back</button>