<div class="line">
    <h4>Date from:</h4>
    <input type="date" [(ngModel)]="filter.dateFrom" (change)="submitChanges()">
    <h4>Date to:</h4>
    <input type="date" [(ngModel)]="filter.dateTo" (change)="submitChanges()">
</div>

<div class="line">
    <h4>Radius from you(KM):</h4>
    <input type="number" [(ngModel)]="filter.radiuss" (change)="submitChanges()">
</div>

<div class="line">
    <h4>Group:</h4>
    <input type="text" [(ngModel)]="filter.group" (change)="submitChanges()">
</div>

<div class="line">
    <h4>Image tags(split by ','):</h4>
    <input type="text" [(ngModel)]="filter.imageTaggs" (change)="submitChanges()">
</div>

<div class="line">
    <h4>Tagged users(split by ','):</h4>
    <input type="text" [(ngModel)]="filter.taggedUsers" (change)="submitChanges()">
</div>