.line{
    height: 15%;
    width: 100%;
    display: flex;
    border: 2px solid black;
    align-items: center;
    padding: 10px;
}

h4{
    padding-right: 10px;
    font-size: 15px;
}

input{
    margin: 0 10px;
    font-size: 15px;
}
.date{
    width: 150px;
}