img {
  height: 200px;
}

.main{
  margin-bottom: 20px
}

.line {
  margin-bottom: 10px;
  display: flex;
}

.icon {
  height: 25px;
  margin-bottom: -15px;
  margin-top: 10px;
}

.enabled{
  cursor: pointer;
}

.disabled{
  cursor: not-allowed;
}

.text {
  margin-top: 5px;
  margin-bottom: 10px;
/*   justify-content: space-between; */
  word-break: break-all;
}

.postText{
  padding-top: 10px;
  color: black;
  font-size: 19px;
}

.likes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.likesSum{
  margin-left: 10px;
  margin-top: 20px;
  font-size: 15px;
}

.publishBtn{
  margin-left: 5px;
  font-size: 20px;
  font-family: 'FontAwesome';
}

.publishComment{
  margin-top: 30px;
  width: 70%
}

.comment{
  padding: 10px;
  margin-bottom: 5px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.commentText{
  color: black;
  font-size: 15px;
  margin-right: 3px;
  word-break: break-all;
}

.commentPublisherName{
  color: red;
  font-weight: bold;
  font-size: 12px;
}

.tag{
  color: rgb(89, 145, 248);
  margin-bottom: 15px;
  margin-left: 5px;
  font-size: 12px;
}

.rotate{
  animation: rotation 0.2s forwards;
}

.straight{
  animation: straight 0.2s forwards;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes straight {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}