<div *ngIf="currentPost" class="main">
    <img [src]="currentPost.imageSrc" />
    <div class="line text">
        <h2>{{currentPost.text}}</h2>
        <div class="likes">
            <img class="icon" [@rotation]="liked? 'rotate' : 'straight'" (click)="like()"
                src="http://localhost:1000/assets/likeIcon.png" />
            <h4>{{currentPost.likes}}</h4>
        </div>
    </div>
    <div class="comment" *ngFor="let comment of currentPost.comments">
        <h3>{{comment.text}}</h3>
        <h5>{{comment.username}}</h5>
    </div>
    <div>
        <form class="line text form-group" #commentForm="ngForm">
            <input class="form-control" placeholder="Comment" [(ngModel)]="text" type="text" name="text" required
                #name="ngModel" />
            <button (click)="publishComment()" [disabled]="!commentForm.form.valid">Publish</button>
        </form>
    </div>
    <div class="line">
        <h5 *ngFor="let tag of currentPost.imageTags">{{tag}},</h5>
    </div>
    <div class="line">
        <h5 *ngFor="let tag of currentPost.taggedUsers">{{tag}},</h5>
    </div>
</div>
<div *ngIf="isShown">
    <button type="button" class="btn btn-primary" (click)="navToFeed()">Back to feed</button>
</div>