<div *ngIf="currentPost" class="main">
    <img [src]="currentPost.imageSrc"/>
    <div class="line text">
        <h3>{{currentPost.text}}</h3>
        <div class="likes">
            <img class="icon" [@rotation]="liked? 'rotate' : 'straight'" (click)="like($event)" src="https://cdn4.vectorstock.com/i/thumbs/97/58/like-icon-like-in-flat-style-like-icon-thumb-up-vector-22509758.jpg"/>
            <h4>{{currentPost.likes}}</h4>
        </div>
    </div>
    <form class="line text form-group" #commentForm="ngForm">
        <input class="form-control" placeholder="Comment" [(ngModel)]="comment" type="text" name="comment" required
        #name="ngModel"/>
        <button (click)="publishComment()" [disabled]="!commentForm.form.valid">Publish</button>
    </form>
    <div class="line">
        <h5 *ngFor="let tag of currentPost.imageTags">{{tag}},</h5>
    </div>
    <div class="line">
        <h5 *ngFor="let tag of currentPost.taggedUsers">{{tag}},</h5>
    </div>
</div>