<div>
  <agm-map [latitude]='latitude' [longitude]='longitude' mapTypeId='roadmap' [zoom]='14'>
    <agm-marker [latitude]="latitude" [longitude]="longitude" label='You'></agm-marker>
    <agm-marker *ngFor="let post of posts" [iconUrl]="getIcon()" label='b' [latitude]="post.latitude"
      [longitude]="post.longitude">
      <agm-info-window>
        <img style="height: 160px;" src="https://media.wired.com/photos/5e1e646743940d0008009167/master/pass/Science_Cats-84873657.jpg"/>
        <h4>{{post.text}}</h4>
        <div class="tags">
          <div class="flex" *ngFor="let tag of post.imageTags; let i = index">
              <span class="tag">{{tag}}</span>
              <span style="margin-right: 4px;" *ngIf="i < post.imageTags.length-1">,</span>
          </div>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <!-- <!-- <button (click)="click()">click</button> --> 
</div>