  <!-- <agm-map [latitude]='latitude' [longitude]='longitude' mapTypeId='roadmap' [zoom]='14' #map>
    <agm-marker [latitude]="latitude" [longitude]="longitude" label='You'></agm-marker>
    <agm-marker *ngFor="let post of posts" label='b' [latitude]="post.latitude"
      [longitude]="post.longitude">
      <agm-info-window>
        <img style="height: 160px;" [src]="post.imageSrc"/>
        <h4>{{post.text}}</h4>
        <div class="tags">
          <div class="flex" *ngFor="let tag of post.imageTags; let i = index">
              <span class="tag">{{tag}}</span>
              <span style="margin-right: 4px;" *ngIf="i < post.imageTags.length-1">,</span>
          </div>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map> -->
  <div #mapContainer id="myMap"></div>